* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), 80%, rgb(129, 129, 129));
    color: white;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

h3 {
    font-size: 25px;
    padding-bottom: 5px;
}


.navli ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    display: inline-block;
}

.navli a:hover {
    transform: scale(1.2);
    /* Increase size by 20% on hover */
    /* z-index: 1; */
    /* Bring the hovered item to the front */
    /* text-decoration: underline; */
}

.navbar {
    display: flex;
    align-items: center;
    /* margin-top: 30px; */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #030303b6;
    z-index: 10;
    /* Add padding for better appearance */
}

.hr {
    width: 50%;
}

.navli {
    width: 50%;
}

.navli ul {
    display: flex;
    justify-content: space-evenly;
}

.navli ul li {
    list-style: none;
}

#hi {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.aboutImg {
    width: 50%;
}

.aboutImg img {
    border-radius: 50%;
}

.aboutText {
    width: 50%;
    text-align: justify;
    padding-right: 30px;
}

@keyframes slideInFromLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Skill section styles */
.skills-section {
    height: 100vh;
    width: 100%;
    align-items: center;
    color: white;
}

.skill-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.barImg {
    margin-bottom: 5px;
    width: 10%;
    text-align: left;
}

.barImg img {
    width: 50px;
}

.bar {
    height: 30px;
    width: 50%;
    background-color: #444;
    border-radius: 25px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 30px;
    background-color: #ff4b4b;
    line-height: 25px;
    color: white;
    text-align: right;
    padding-right: 10px;
    border-radius: 25px;
    transition: width 1.5s ease;
}

/* Specific progress bars */
.progress.html {
    width: 95%;
    background-color: #f06529;
}

.progress.css {
    width: 87%;
    background-color: #2965f1;
}

.progress.js {
    width: 60%;
    background-color: #f0db4f;
}

.progress.react {
    width: 60%;
    background-color: #61dafb;
}

.progress.express {
    width: 50%;
    background-color: #000000;
}

.progress.sql {
    width: 70%;
    background-color: #00758f;
}

.progress.plsql {
    width: 65%;
    background-color: #d57f00;
}


.eduIns {
    padding-bottom: 15px;
}

.eduImg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Img1 {
    grid-area: img1;
}

.Img2 {
    grid-area: img2;
}

.Img3 {
    grid-area: img3;
}

.eduImg {
    width: 50%;
    display: grid;
    grid-template-areas:
        'img1 img1'
        'img2 img3';
    box-sizing: border-box;
}

.eduText {
    width: 50%;
    text-align: left;
    padding-left: 30px;
}

.education {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.expImg {
    width: 50%;
}

.expImg img {
    width: 100%;
}

.expTexts {
    width: 50%;
    text-align: left;
    padding-left: 25px;
}

.experiences {
    margin-top: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.work {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.project img {
    width: 100%;
    height: 100vh;
}

.project {
    padding: 0;
    width: 100%;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    z-index: 5;
    /* Lower z-index than the navbar */
}

.project:hover {
    transform: scale(1.2);
    box-shadow: white 5px;
}

.works {
    display: flex;
    justify-content: space-around;
}

.project {
    width: 30%;
    height: auto;
    margin: 10px;
}

.project img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.project h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}


.contactContainer {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    align-items: center;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 40px;
    padding: 0;
    transition: transform 0.3s ease, color 0.3s ease;
    z-index: 5;
}

.social a:hover {
    transform: scale(1.2);
    box-shadow: white 5px;
}

.mailMe {
    width: 70%;
    text-align: left;
    font-size: 30px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    /* Adds some margin for spacing */
}

button:hover {
    background-color: darkred;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




/* footer section */

.fdots {
    width: 50%;
    font-size: 30px;
}

.fhr {
    width: 50%;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    /* Add padding for better appearance */
}